<!--A Dynamic page for Movies starts-->
<ion-content>
  
  <div class="ion-padding">
    <ion-card>
      <!--Movie List 3 Starts-->
     <ion-card class="welcome-card">
    <ion-img src="/assets/arrow.jpg"></ion-img>
    
  </ion-card>
  <ion-card-header>
      SERIES INFO
  </ion-card-header> 
  <div class="flash">
      Reinventing the DC Comics character, the Arrow is not a superhero but a hero every bit as dangerous as the criminals he's hunting.<br>
      Creators: Andrew Kreisberg, Greg Berlanti, Marc Guggenheim<br>
      Starring: Stephen Amell, Katie Cassidy, Colin Donnell
  </div>
    <ion-button style="margin-left:240px" (click)="onBooking()" shape="round" Default color="primary">Book</ion-button>
  </ion-card>
  </div>
<!--Movies List 1 Ends-->
</ion-content> 

